header {
  background-color: #142840;
  color: white;
  font-size: 1.1rem;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

h1 {
  font-size: 4rem;
}


ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
}

.jumbotron {
  color: white;
  background-color: #4386D9;
  margin-bottom: 5%;
}

.text-container {
  margin: 5% auto;
  width: 60%;
}


.grid {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 21rem;
  height: 26rem;
  margin: 2%;
}

.card-body .btn {
  position: absolute;
  bottom: 10px;
}

.card-img-top {
  height: 200px;
}

.contact-jumbo {
  height: 800px;
  display: flex;
  align-items: center;
  margin-top: -5%;
}

.img-thumbnail {
  width: 200px;
  max-height: 250px;
}

.image-container {
  margin: 0 auto;
  width: 60%;
  display: flex;
}

.skills-list {
  margin: 5% auto;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #364659;
  width: 12rem;
  height: 2rem;
  margin: 2%;
  padding: 2%;
  border-radius: 4px;
}

.icon-holder {
  width: 18rem;
  height: 12rem;
  background-color: #566E8C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: white;
}

.icon-holder p {
  padding-top: 10%;
  font-weight: bold;
}

svg {
  background-color: #566E8C;
}

.media-menu {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

}

.breadcrumb {
  width: 50%;
}

@media(max-width: 500px) {
  header {
    padding: 5%;
  }

  h1 {
    font-size: 2.3rem;
  }

  ul {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  li {
    background-color:#364659;
    text-align: center;
    width: 6rem;
    margin: 5% 0;
    padding: 1%;
    border-radius: 5px;
  }

  .jumbotron {
    text-align: center;
  }

  .contact {
    height: 800px;
  }
  
  .card {
    margin: 5% 0;
  }

  .icon-holder {
    width: 16rem;
    height: 8rem;
  }

  .media-menu {
    height: 100%;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
  }
}

