header {
  background-color: #142840;
  color: white;
  font-size: 1.1rem;
}

h1 {
  font-size: 4rem;
}


ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
}

.jumbotron {
  color: white;
  background-color: #4386D9;
  margin-bottom: 5%;
}

.text-container {
  margin: 5% auto;
  width: 60%;
}

#about {
  width: 20%;
  background-color: #566E8C;
}

.grid {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 21rem;
  height: 26rem;
  margin: 2%;
}

.card-body .btn {
  position: absolute;
  bottom: 10px;
}

.card-img-top {
  height: 200px;
}

.contact {
  height: 500px;
  display: flex;
  align-items: center;
}

.img-thumbnail {
  width: 200px;
}

.icon-holder {
  width: 8rem;
  height: 8rem;
  background-color: #566E8C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

svg {
  background-color: #566E8C;
}

.media-menu {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;

}

@media(max-width: 500px) {
  header {
    padding: 5%;
  }

  h1 {
    font-size: 2.3rem;
  }

  ul {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  li {
    background-color:#364659;
    text-align: center;
    width: 4rem;
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
  }

  .jumbotron {
    text-align: center;
  }

  .contact {
    height: 800px;
  }

  .media-menu {
    height: 100%;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
  }
}

